.collapse {
  display: flex;
  flex-direction: column;
  max-width: 1023px;
  height: auto;
  margin: 40px auto;
  @include responsive(smartphone) {
    margin: 5px auto;
  }
  &.active {
    .collapse_title_icon {
      transform: rotate(0deg);
    }

    .collapse_content {
      height: auto;
      visibility: visible;
    }
  }

  &_title {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    height: 47px;
    @include responsive(smartphone) {
      font-size: 13px;
    }

    .collapse_title_icon {
      transition: transform 0.2s;
      transform: rotate(-180deg);
    }
  }

  &_content {
    padding-top: 10px;
    padding-left: 10px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      opacity 0.3s ease,
      max-height 0.3s ease;
    @include responsive(smartphone) {
      font-size: 13px;
    }

    p {
      margin: 5px;
    }

    .active & {
      max-height: 1000px; // Assurez-vous que cette valeur est suffisamment grande pour contenir tout votre contenu
      opacity: 1;
    }
  }
}
.logement_collapse {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include responsive(smartphone) {
    flex-direction: column;
  }
  &_description,
  &_equipement {
    width: 48%;
    @include responsive(smartphone) {
      width: 100%;
    }
  }
}

.logement_collapse_description .collapse_content,
.logement_collapse_equipement .collapse_content {
  background-color: #f6f6f6;
  padding: 10px;
}
